<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #b8bbd1">
    <div class="container">
      <h1 class="display-4 text-center py-1">REJA VA MAQSADLAR</h1>
      <div class="jumbotron p-3 shadow-sm">
        <form id="create-form" action="/create-item" method="POST">
          <div class="d-flex align-items-center">
            <input
              id="create-field"
              name="item"
              autofocus
              autocomplete="off"
              class="form-control mr-3"
              type="text"
              style="flex: 1"
            />
            <button class="btn btn-primary" style="border-radius: 20px">Yangi Harid Qo'shish</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
