.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}

.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  /* background: #f7f6b9; */
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  background-color: white;
}

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.main_frame .left_frame .left_1 .left_1-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
}
.main_frame .left_frame .left_1 .left_1-1 img {
  border-radius: 50%;
}

.main_frame .left_frame .left_1 .left_1-2 {
  position: relative;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: #2b2b2b;
}

.main_frame .left_frame .left_1 .left_1-3 {
  position: relative;
  width: 147.84px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Paragraph Progress */

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* or 160px*/

  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;

  /* Paragraph Font */

  color: #767676;
}

.left-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}

.link_href {
  text-decoration: none;
  color: black;
}

.icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
}

/* .icon-1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
} */

.main_frame .left_frame .marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
}

.main_frame .left_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
  /* background-color: aqua; */
}

.main_frame .left_frame .left_2 .left_2-1 {
  position: relative;
  display: flex;
  width: 220px;
  height: 25px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.main_frame .left_frame .left_2 .left_2-1 .left_2-1-item {
  display: flex;
  width: 220px;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-transform: capitalize;
  color: #2b2b2b;
}

.main_frame .left_frame .left_2 .left_2-1 .left_2-1-item .left_2-1-item-child1 {
  background: #ffb400;
}
.main_frame .left_frame .left_2 .left_2-1 .left_2-1-item .left_2-1-item-child2 {
  color: #7eb942;
}

.main_frame .left_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
  /* background-color: aqua; */
}

.common-header {
  position: relative;
  width: 95px;
  height: 22px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #2b2b2b;
}

.common-rate-text {
  position: relative;
  width: 220px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-transform: capitalize;
  color: #767676;
}

.main_frame .left_frame .left_4 {
  position: relative;
  width: 220px;
  height: 252px;
  margin-top: 25px;
  margin-left: 45px;
  /* background-color: aqua; */
}

.main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
  /* background-color: aqua; */
}

.common-text {
  position: relative;
  width: 220px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-transform: capitalize;
  color: #767676;
}

.main_frame .midd_frame {
  position: relative;
  width: 970px;
  height: 1320px;
  /* margin-left: 30px; */
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.midd_frame-1 {
  position: relative;
  display: flex;
  padding-left: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.round-yellow {
  position: absolute;
  left: 6px;
  top: 46px;
  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 100%;
  width: 16px;
  height: 16px;
}

.round-yellow1 {
  position: absolute;
  left: 550px;
  top: 350px;
  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 100%;
  width: 16px;
  height: 16px;
}
.round-green {
  position: absolute;
  left: 100px;
  top: 400px;
  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 100%;
  width: 16px;
  height: 16px;
}
.rectangle-blue {
  position: absolute;
  left: 320px;
  top: 320px;
  border: 2px solid rgba(0, 71, 255, 0.8);
  transform: rotate(-26deg);
  width: 16px;
  height: 16px;
}
.round-green1 {
  position: absolute;
  left: 500px;
  top: 15px;
  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 100%;
  width: 16px;
  height: 16px;
}
.main_frame .midd_frame .midd_frame-header {
  display: flex;
  flex-direction: column;
}

.main_frame .midd_frame .midd_frame-header .header1 {
  position: relative;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 124%;
  color: #2b2b2b;

  span {
    color: #ffb400;
  }
}

.main_frame .midd_frame .midd_frame-header .about-me {
  position: relative;
  width: 400px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #767676;
  margin-top: 18px;
}
.main_frame .midd_frame .midd_frame-header .here-me {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 16px 32px;
  width: 154px;
  height: 51px;
  background: #ffb400;
  margin-top: 30px;
  text-transform: uppercase;
}

.midd_frame-2 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.midd_frame-2 .author-services {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 124%;
    text-transform: capitalize;
    color: #2b2b2b;
  }
  p {
    width: 420px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-transform: capitalize;
    text-align: center;
    color: #767676;
  }
}
.service-details {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 1000px;
}
.service-type {
  position: relative;
  width: 310px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 15px;
  margin-top: 15px;

  h3 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 124%; */
    text-transform: capitalize;
    color: #2b2b2b;
  }
  p {
    /* width: 260px; */
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    /* line-height: 160%; */
    text-transform: capitalize;
    text-align: center;
    color: #767676;
  }

  a {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #ffb400;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.dark-mode {
  position: relative;
  margin-top: 50px;
}

.icon-box {
  position: relative;
  width: 65px;
  height: 493px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 200px;
}
.btn-icon {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  cursor: pointer;
  background: #e5e5e5;
  /* padding: 10px; */
}

.btn-icon:hover::before {
  content: attr(btn-label); /* Get the label from data attribute */
  position: absolute;
  top: -30px; /* Adjust this value to position the text */
  left: 50%;
  transform: translateX(-50%);
  background: black;
  width: 65px;
  height: 20px;
  padding-top: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.btn-icon:hover {
  background: #ffb400;
}
